body {
    background-color: #FCFCFC;
}

#appointments {
    min-height: 300px;
    margin: 0 100px;
    min-width: 250px;
}

#appointments .header {
    height: 160px;
}

#appointments .list {
    background-color: #FFF;
    border: 1px solid #ddd;
}

#appointments .title {
    color: #444;
    font-size: 200%;
    height: 26px;
    padding: 12px;
}

#appointments .list .item {
    border-color: #DDD;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 10px 10px 0 10px;
    min-height: 130px;
}

#appointments .list .item .name {
    font-size: 2em;
}

#appointments .list .item .info {
    margin-top: 10px;
}

#appointments .list .item .info .photo{
    background: #AAA url("/resources/img/user.jpg") center center no-repeat;
    height: 55px;
    width: 55px;
    margin-right: 35px;
    border-radius: 5px;
}

#appointments .list .item .info .row {
    line-height: 18px;
}

#appointments .list .item .info .block {
    margin-right: 20px;
}

#appointments .list .item .info .span {
    min-width: 100px;
    width: auto;
}
#appointments .list .item .info .span2 {
    min-width: 200px;
    width: auto;
}

#appointments .list .item .info .row .param-name {
    color: #777;
}

#appointments .filters {
    text-align: right;
}

#appointments .filters select {
    margin-left: 15px;
}

.rounded {
    border-radius: 5px !important;
}

.no-overflow {
    overflow: hidden !important;
}

.right-navigation {
    float: right;
    margin: 10px 20px;
}
.logout {
    margin-left: 20px;
}
.home {
    background: url("/resources/img/ico.jpg")center center no-repeat;
    height: 16px;
    width: 16px;
    position: fixed;
    margin-top: 1px;
}
